@tailwind base;
@tailwind components;
@tailwind utilities;

/* Links */
.purple-link {
  @apply text-fuchsia-800;
}

.blue-link {
  @apply text-sky-500;
}

/* Description */
.description {
  @apply text-slate-500 font-mono;
}

.description-justify {
  @apply text-slate-500 text-justify font-mono;
}

/* Titles */
.title {
  @apply text-4xl text-slate-400 mb-6;
}

.subtitle {
  @apply text-slate-400 text-xl;
}

.info-title {
  @apply text-slate-300 text-lg mt-2 mb-3;
}

.info-subtitle {
  @apply text-slate-500 font-mono;
}

/* Skills */
.skills {
  @apply text-green-700 font-mono;
}

/* Small screen sizes */
@media (max-width: 639px) {
  .title {
    @apply text-xl mb-4;
  }

  .subtitle {
    @apply text-base;
  }


  .info-subtitle {
    @apply text-sm;
  }

  .description {
    @apply text-sm;
  }

  .description-justify {
    @apply text-sm;
  }

  .skills {
    @apply text-sm;
  }
}

/* Purple text gradient */
.purple-gradient {
  background: linear-gradient(to right, rgb(139, 46, 139), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Blue text gradient */
.blue-gradient {
  background: linear-gradient(to right, rgb(38, 112, 182), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gray text gradient */
.gray-gradient {
  background: linear-gradient(to right, rgb(172, 173, 180), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
