@tailwind base;
@tailwind components;
@tailwind utilities;


/* Links */
.purple-link {
  @apply text-fuchsia-800;
}

.blue-link {
  @apply text-sky-500;
}

/* Dark text */
.dark-text {
  @apply text-slate-500 text-justify;
}

.dark-text-sm {
  @apply text-sm text-slate-500 text-justify;
}
/* Main text */
.main-text {
  @apply text-slate-400 text-justify;
}

/* Purple text gradient */
.purple-gradient {
  background: linear-gradient(to right, rgb(139, 46, 139), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Blue text gradient */
.blue-gradient {
  background: linear-gradient(to right, rgb(38, 112, 182), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Gray text gradient */
.gray-gradient {
  background: linear-gradient(to right, rgb(172, 173, 180), white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Titles */
.title {
  @apply text-slate-400 font-normal mb-6;
}

/* Subtitles */
.subtitle {
  @apply text-blue-400;
}

/* Big screen sizes*/
@media (min-width: 640px) {
  .title {
    @apply text-4xl;
  }
  .main-text {
    @apply text-lg;
  }
  .dark-text {
    @apply text-lg;
  }
  .subtitle {
    @apply text-lg;
  }
}

/* Small screen sizes */
@media (max-width: 639px) {
  .title {
    @apply text-3xl;
  }
  .main-text {
    @apply text-sm;
  }
  .dark-text {
    @apply text-sm;
  }
  .subtitle {
    @apply text-sm;
  }
}



/* :root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  height: 100vh;
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */



